.unit-table {
	display: grid;
	gap: 10px;
	margin-bottom: 20px;
	border: 1px solid black;
	align-items: center;
}
.weapon-table {
	display: grid;
	gap: 10px;
	margin-bottom: 20px;
	border: 1px solid black;
	align-items: center
}
.ability-table {
	display: grid;
	gap: 10px;
	margin-bottom: 20px;
	border: 1px solid black;
	align-items: left;
	grid-template-columns: 150px 1fr;
}
.uheader-row {
	display: contents;
	text-align: center;
	gap: 10px;
}
.wheader-row {
	display: contents;
	text-align: center;
	gap: 10px;
}
.aheader-row {
	text-align: left !important;
	gap: 10px;
	grid-column: 1 / -1;
}
.unit-row {
	display: grid !important;
	background-color: white;
	grid-auto-flow: row !important;
	width: 100%;
	gap: 10px;
}
.unit-left {
	text-align: left !important;
	padding-left: 10px;
}
.weapon-row {
	display: contents;
}
.weapon-left {
	text-align: left !important;
	padding-left: 10px;
}
.ability-row {
	display: contents;
}
.ability-left {
	text-align: left !important;
	padding-left: 10px;
}
.header-cell {
	font-weight: bold;
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid #ccc;
}
.cell {
	padding: 5px;
	text-align: center;
}
.grayed {
	background-color: #eee;
	color: #555;
}
input[type="text"] {
	width: 100%;
	padding: 5px;
	text-align: center;
}
textarea {
	width: 100%;
	padding: 5px;
	text-align: left;
	resize: none;
	box-sizing: border-box;
	overflow: hidden;
}
#progress {
	margin-bottom: 10px;
	font-weight: bold;
}
.hidden {
	display: none;
}